<h1>FREE Samples</h1>
<%= form_for @sample_order, url: submit_sample_order_url(@sample_order), html: {method: :post} do |f| %>
  <%= f.collection_check_boxes(:sample_ids, @samples, Proc.new { |s| s[:id] }, Proc.new { |s| s[:title] }) do |b| %>
    <div>
      <%= image_tag(b.object[:img_src], width: '400', height: 'auto') %>
      <h2><%= b.text %></h2>
      <%= b.check_box %>
    </div>
  <% end %>
  <%= f.submit "Get FREE sample" %>
<% end %>
<pre>
  Params : <%= params.to_json %>
<br>
Your Shop Details:
<hr>
  Shop Name       : {{ shop.name }}
  myshopify name      : {{ shop.permanent_domain }}
  Primary Domain of Shop    : {{ shop.domain }}
  Shop URL      : {{ shop.url }}
  Shop Currency       : {{ shop.currency }}
  No. of products in this shop  : {{ shop.products_count }}
<br>
<hr>
</pre>
